.ui-button.addEvent {
 display: none;
}

.ui-popup__content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  .popupAddEvent {
    padding: 0 20px;
    form {
      margin: 20px 0;

      .ui-box.bq {
        width: 100%;
      }
      button {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}

.fc {

 .fc-toolbar-title {
  text-transform: capitalize;
 }

 .fc-daygrid {
   table {
    .fc-col-header-cell.fc-day {
     text-transform: capitalize;
    }

    .fc-daygrid-day {
     &.fc-day-today {
      background-color: #ddd;
     }
    }
    
   }
 }
}