.ui-dropdown {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: -37px;
  
  .ui-button {
    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ui-dropdown__item {
    background-color: white;
  }
}

.fc .fc-toolbar {
  justify-content: flex-start;

  .fc-toolbar-chunk:nth-child(2) {
    margin-left: 20%;
  }
}

.ui-button.addEvent {
 display: none;
}

.ui-popup__content {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;

  .popupAddEvent {
    padding: 20px;

    h2.ui-header {
      margin-top: 0;
    }

    form {
      margin-top: 20px;

      .ui-box.bq {
        width: 100%;
        margin-bottom: 5px;
      }
      button {
        width: 100%;
        max-width: 100%;

        &.btnSubmit {
          margin-top: 30px;
        }
      }

      .allDayCk .ui-box input {
        width: auto !important;
      }
    }

    .btn-close {
      float: right;
    }
  }
}

.fc {

 .fc-toolbar-title {
  text-transform: capitalize;
 }

 .fc-daygrid {
   table {
    .fc-col-header-cell.fc-day {
     text-transform: capitalize;
    }

    .fc-daygrid-day {
     &.fc-day-today {
      background-color: #ddd;
     }

     .fc-h-event {
        display: block;
        border: 1px solid #2c3e50;
        background-color: #2c3e50;
      }
    }
    
   }
 }
}